<!-- <table class="table table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Shop</th>
      <th>Address</th>
      <th>Shopkeeper</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shop of shops">
      <th scope="row">{{shop.id}}</th>
      <td>{{shop.name}}</td>
      <td>{{shop.adress}}</td>
      <td>{{shop.shopkeeper}}</td>
      <td>{{shop.status}}</td>
      <td>{{shop.created_at}}</td>
      <td>{{shop.updated_at}}</td>
    </tr>

  </tbody>
</table> -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Shop </div>
        <div class="tools">
            
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div _ngcontent-xqw-0="" class="page-toolbar">
                <div _ngcontent-xqw-0="" class="btn-group pull-right">
                    <!-- <button _ngcontent-xqw-0="" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"> Actions
                        <i _ngcontent-xqw-0="" class="fa fa-angle-down"></i>
                    </button>      -->
                    <a routerLink='/shop/new' class="btn green btn-sm btn-outline dropdown-toggle">Create New Shop</a>              
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Shop</th>
                        <th>Address</th>
                        <th>Shopkeeper</th>
                        <th>Status</th>                        
                        <th></th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shop of shops">
                        <th scope="row">{{shop.id}}</th>
                        <td>{{shop.name}}</td>
                        <td>{{shop.adress}}</td>
                        <td>{{shop.shopkeeper}}</td>
                        <td>{{shop.status}}</td>                       
                        <td>
                            <a (click)="goToShow(shop)"><i class="fa fa-eye"></i></a>                        
                            
                        </td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>